#menu-list > a.list-group-item {
    color: #9d9d9d;
    background-color: #222;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #111;
    text-align: right;
}

#menu-list > a.list-group-item.active {
    color: #fff;
    background-color: #080808;
    border: none;
}

#menu-list > a.list-group-item > span.glyphicon {
    float: left;
}

div#menu {
    background-color: #222;
    border: 1px solid #080808;
    height: 100vh;
}

div#cv {
    padding: 0px;
}

img#profile-image {
    width: 100%;
}

div#content {
    overflow: auto;
    height: 100vh;
    padding: 15px;
}

div#data {
    margin-top: 20px;
}

div#data > div > div.form-group {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #222;
    text-align: left;
    border-radius: 5px
}

h3 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #444;
    color: #444;
}

.skills-desc {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.skills-desc > span {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #a3a375;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    color: #a3a375;
}

.details {
    border-left: 2px solid #444;
    padding-left: 1em;
}

h6 {
    border-top: 3px solid #444;
}